name: Outgrow-Android CI/CD Pipeline

on: 
  
  push:
    branches: [ "qa","Dev","staging","master" ]

jobs:
  clean-code:

    runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Bump version
        uses: chkfung/android-version-actions@v1.2.1
        with:
          gradlePath: app/build.gradle # or app/build.gradle.kts 
          versionCode: ${{github.run_number}}
          versionName: 1.0.0
      - name: execute gradle clean
        run: ./gradlew clean

  test-code:

    runs-on: ubuntu-latest
    needs: [clean-code]
    steps:
     - name: code checkout
       uses: actions/checkout@v3
     - name: Make gradlew executable
       run: chmod +x ./gradlew
     - name: execute gradle test
       run: ./gradlew test	

  build-code:

    runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v3
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build
      - name: Assemble Release bundle
        run: ./gradlew bundleRelease
      - name: list files
        run: ls -lrt app/build/outputs/bundle/release
      - name: Sign Release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/release
          keystore_b64: ${{ secrets.SIGNING_KEY }}
          key_alias: ${{ secrets.ALIAS }}
          keystore_password: ${{ secrets.KEY_STORE_PASSWORD }}
          key_password: ${{ secrets.KEY_PASSWORD }}  
      - name: Upload 
        uses: actions/upload-artifact@v2
        with:
         name: app
         path: app/build/outputs/bundle/release
